configuration {	 
	display-window: "Window ";
	display-drun: "Launch ";
	display-run: "Run ";
	modi: "drun,run";
	location: 0;
	font: "Ttyp0 15";
	show-icons: true;
	terminal: "st";
}
@import "~/.cache/wal/colors-rofi-dark.rasi"
//@theme "~/.config/rofi/themes/simple.rasi"
